@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Lato&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

header {
    position: sticky;
    top: 0;
    z-index: 1
}

.navbar {
    background: #222831;
    color: #000
}

.menu {
    border-radius: 36px;
    background: #fff
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #000;
    background-color: #000000e6;
    overflow-x: hidden;
    transition: .5s;
    font-family: 'Poppins', sans-serif
}

.overlay-content {
    position: relative;
    top: 14%;
    width: 100%;
    text-align: center;
    margin-top: 30px
}

.overlay a {
    padding: 6px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1
}

.overlay .closebtn {
    position: absolute;
    top: 1vh;
    right: 4vw;
    font-size: 80px
}

#home {
    background: url(Material/Background_Desktop.png) repeat-y #393e46;
    background-position: 100%;
    background-size: 560px;
    color: #fff;
    font-family: 'Lato', sans-serif
}

.home {
    padding-top: 20vh;
    padding-bottom: 32vh
}

.typewrite {
    text-decoration: none;
    color: #f11f1f
}

.button {
    display: inline-block;
    overflow: hidden;
    padding: 20px 0;
    text-align: center
}

.button button {
    width: 110px;
    height: 50px;
    background: #f11f1f;
    border-radius: 60px;
    color: #fff;
    transition: ease-in-out .1s
}

.button button:hover {
    color: #f11f1f;
    background: #eee;
    font-weight: 800;
    transition: ease-in-out .1s
}

.button a {
    text-decoration: none;
    color: #eee;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px
}

.typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2em
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.album .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 10px
}

.album .responsive-container-block.bg {
    max-width: 1320px;
    margin: 0;
    justify-content: space-between
}

.album .img {
    width: 100%;
    margin: 0 0 20px
}

.album #i9rb {
    color: #000
}

.album #ir6i {
    color: #000
}

.album #ikz3b {
    color: #000
}

.album .responsive-container-block.img-cont {
    flex-direction: column;
    max-width: 33.3%;
    min-height: auto;
    margin: 0;
    height: 100%
}

.album #ipix {
    color: #000
}

.album #ipzoh {
    color: #000
}

.album #ig5q8 {
    color: #000
}

.album #imtzl {
    color: #000
}

.album #i53es {
    color: #000
}

.album .img.img-big {
    height: 50%;
    margin: 0 0 16px
}

@media (max-width: 1024px) {
    .album .img {
        margin: 0 0 18px
    }
}

@media (max-width: 768px) {
    /* .album .img {
        max-width: 32.5%;
        margin: 0
    } */

    .album .responsive-container-block.bg {
        flex-direction: column
    }

    .album .responsive-container-block.img-cont {
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between
    }

    .album .img.img-big {
        max-width: 49%;
        margin: 0
    }
}

@media (max-width: 500px) {
    .album .img {
        max-width: 94%;
        margin: 0 0 25px
    }

    .album .responsive-container-block.img-cont {
        flex-direction: column;
        align-items: center;
        padding: 10px
    }

    .album .img.img-big {
        max-width: 94%;
        margin: 0 0 25px
    }

    .album .img.img-last {
        margin: 0 0 5px
    }
}

#gallery {
    background: #fff;
    padding-bottom: 40px
}

.title {
    font-family: 'Poppins', sans-serif;
    padding: 100px 0;
    text-align: center
}

#about {
    background: url(Material/Background_Mobile.png) repeat-y #393e46;
    background-size: 140px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    padding: 28px
}

.info {
    text-align: center;
}

.owner {
    width: 280px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 100%
}

.owner img {
    width: 100%;
    transition: .4s all ease-in-out
}

.owner:hover img {
    transform: scale(1.2)
}

#testimonial {
    background: #fff;
    padding-bottom: 40px
}

.google-review-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 28px;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-content {
    display: flex;
    flex-direction: column;
}

.google-title {
    font-size: 18px;
    color: #333;
    text-align: center;
    display: flex;
    align-items: center;
}

.google-title strong {
    padding: 0 6px;
}

.google-rating {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 5px;
}

.rating-value {
    font-weight: bold;
    margin-right: 5px;
}

.stars {
    color: #fbbc05;
    /* Google Yellow */
    font-size: 16px;
}

.review-count {
    font-size: 14px;
    color: #777;
    margin-left: 5px;
}

.review-button {
    background: #1a73e8;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

.review-button:hover {
    background: #1669c1;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 20px; */
    padding: 10% 0;
}

.review-card {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 12px;
    /* width: 300px; */
    /* text-align: center; */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.header-content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}

/* 
.info h4 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
} */

/* .info p {
    margin: 5px 0 0;
    font-size: 14px;
    font-weight: 400;
    color: #666;
} */

/* .single-review p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #333;
} */

.review-footer {
    /* display: flex;
	justify-content: space-between;
	align-items: center; */
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

/* .rating {
    display: flex;
} */

.rating span {
    color: #FFD700;
    font-size: 18px;
}

.rating span.active {
    color: #fbc02d;
}

/* @media screen and (max-width: 767px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .review-card {
        width: 85%;
    }
} */


#clients {
    background: #393e46;
    background: url(Material/Background_Mobile.png) repeat-y #393e46;
    background-position: 100%;
    background-size: 140px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    padding: 28px
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    display: flex;
    align-items: center;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

/* [dir='rtl'] .slick-slide {
    float: right;
} */

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

#feedback {
    background: url(Material/Background_Laptop.png) repeat #eee;
    background-position: center;
    background-attachment: fixed;
    background-size: 120vw;
    font-family: 'Lato', sans-serif;
}

.feedback {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 60px #00000010;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #000
}

.title {
    text-shadow: 2px 2px #f11f1f
}

form h2 {
    color: #000;
    font-weight: 800;
    margin-bottom: 20px;
    padding: 16px 0;
    padding-bottom: 36px;
    text-decoration: underline;
    text-align: center
}

.form-group {
    width: auto;
    margin-top: 20px;
    font-size: 20px
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 2px solid #80808033;
    margin-top: 5px
}

textarea {
    resize: vertical;
    max-height: 240px;
    min-height: 120px
}

button[type='submit'] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: 'Montserrat';
    color: #1ba6f7;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease background-color;
    border: 1px solid #000
}

button[type='submit']:hover {
    background-color: #d6e2ec
}

#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px
}

#status.success {
    background-color: #adff2f;
    animation: status 4s ease forwards
}

#status.error {
    background-color: red;
    color: #fff;
    animation: status 4s ease forwards
}

footer {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background-color: #24262b;
    padding: 70px 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px
}

footer p {
    position: relative;
    top: 10vh
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.footer-col ul {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.footer-col {
    width: 25%;
    padding: 0 15px;
    margin: 0;
    box-sizing: border-box
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f11f1f;
    height: 2px;
    box-sizing: border-box;
    width: 50px
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px
}

.footer-col ul li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all .3s ease
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 8px
}

.footer-col .social-links a {
    display: inline-flex;
    height: 40px;
    width: 40px;
    background-color: #ffffff80;
    margin: 0 10px 10px 0;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all .5s ease
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff
}

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%
    }
}

@media (max-width: 1000px) {
    .typing-demo h1 {
        font-size: 20px
    }

    #home {
        background: url(Material/Background_Mobile.png) repeat-y #393e46;
        background-position: 100%;
        background-size: 140px;
        color: #fff
    }
}

@media (max-width: 800px) {
    .typing-demo h1 {
        font-size: 20px
    }

    #home {
        background: url(Material/Background_Mobile.png) repeat-y #393e46;
        background-position: 100%;
        background-size: 120px;
        color: #fff
    }

    #feedback {
        background: url(Material/Background_Laptop.png) repeat #eee;
        background-position: center;
        background-attachment: fixed;
        background-size: 180vw;
        font-family: 'Lato', sans-serif
    }
}

@media (max-width: 600px) {
    .typing-demo h1 {
        text-align: center
    }

    #home {
        background: url(Material/Background_Mobile.png) repeat-y #393e46;
        background-position: 100%;
        background-size: 100px;
        color: #fff;
        padding: 0 24px
    }

    .button button {
        width: 100px;
        height: 40px;
        background: #f11f1f;
        border-radius: 60px;
        color: #fff
    }

    .button a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        margin-right: 10px;
        margin-left: 10px
    }

    #about {
        background: url(Material/Background_Mobile.png) repeat-y #393e46;
        background-size: 100px;
        color: #fff;
        font-family: 'Lato', sans-serif
    }

    #clients {
        background: #393e46;
        background: url(Material/Background_Mobile.png) repeat-y #393e46;
        background-position: 100%;
        background-size: 80px;
    }

    .google-review-card {
        display: inline-block;
        align-items: center;
        text-align: center;
    }

    .google-title {
        font-size: 18px;
        color: #333;
        display: inline-block;
    }

    .google-rating {
        display: inline-block;
        padding-bottom: 20px;
    }

    .review-card {
        display: inline-block;
        text-align: center;
    }

    #feedback {
        background: url(Material/Background_Phone.png) repeat #eee;
        background-position: center;
        background-attachment: fixed;
        background-size: 100vw;
        font-family: 'Lato', sans-serif
    }
}

@media (max-width: 450px) {
    #home {
        background: url(Material/Background_Mobile.png) repeat-y #393e46;
        background-position: 100%;
        background-size: 80px;
        color: #fff;
        text-align: center
    }

    .home h3 {
        font-size: 18px
    }

    .home h4,
    .home h5 {
        font-size: 16px
    }

    .home h1 {
        text-align: center
    }

    .button button {
        width: 100px;
        height: 40px;
        background: #f11f1f;
        border-radius: 60px;
        color: #fff
    }

    .button a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        margin-right: 10px;
        margin-left: 10px
    }

    .typing-demo {
        width: auto;
        animation: none;
        white-space: normal;
        overflow: hidden;
        font-size: 20px
    }

    .card_image img {
        height: auto
    }

    #about {
        background: url(Material/Background_Mobile.png) repeat-y #393e46;
        background-size: 80px;
        color: #fff;
        font-family: 'Lato', sans-serif
    }

    .owner {
        width: 180px;
        height: 200px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 40px
    }

    .owner img {
        width: 100%;
        transition: .4s all ease-in-out
    }

    .owner:hover img {
        transform: scale(1.2)
    }

    .location {
        width: 90vw
    }

    .location img {
        transform: scale(2.4)
    }

    .location img:hover {
        transform: scale(1.8)
    }

    .contact {
        display: block;
        padding: 10px;
        padding-top: 28px;
        justify-content: space-around
    }

    .contact .option a button {
        width: 140px;
        height: 50px
    }
}