@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #222831;
    font-family: 'Quicksand', sans-serif;
}

#container {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 14vh;
}

#cont {
    background: #393E46;
    border: 2px solid #F11F1F;
    border-radius: 24px;
    padding-bottom: 10vh;
}

#login {
    display: grid;
    justify-content: center;
}

#login h3 {
    padding: 0px 24px;
    color: white;
}

#login h5 a {
    color: white;
}

#login h5 a {
    padding: 0px 24px;
}

input {
    display: flex;
    width: 60vw;
    margin: 10px 14px;
    padding: 6px 10px;
    font-size: 1.3em;
    outline: 2px solid #ffffff;
}

#login button {
    padding: 10px;
    margin: 10px 14px;
    cursor: pointer;
    outline: 2px solid black;
    border-radius: 24px;
}

h1 {
    padding: 32px 16px;
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
    font-family: monospace;
}